<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - SCADA System</title>
    <link href="~/css/auth.css" rel="stylesheet" />
</head>
<body>
    <div class="auth-container">
        @RenderBody()
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>